body {
    text-align: center;
    background-color: rgb(1, 1, 61);
}

h1 {
    color: white;
}

button {
    height: 100px;
    width: 100px;
    margin: 25px;
    border-radius: 10px;
    opacity: 1;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.highlight {
    /* opacity: 1;
    border-color: white;
    border-width: 4px; */
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}